## 0. Import librariess

In [2]:
!git add .
!git commit -m "Testing to see if git works with new setup"
!git push origin master

[main 141948f] Testing to see if git works with new setup
 7 files changed, 16308 insertions(+), 13 deletions(-)
 create mode 100644 .DS_Store
 create mode 100644 .ipynb_checkpoints/disasterNLP-checkpoint.ipynb
 create mode 100644 nlp-getting-started/.DS_Store
 create mode 100644 nlp-getting-started/sample_submission.csv
 create mode 100644 test.csv
 create mode 100644 train.csv
error: src refspec master does not match any
error: failed to push some refs to 'https://github.com/paigea58/disasterNLP.git'

In [1]:

#import libtensorflow as tf

import pandas as pd


#import sys
#sys.version

## 1. Data import

In [14]:
# Read in training data file
fileName = 'train.csv'
train = pd.read_csv('train.csv')

# Display contents of train set
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [15]:
# Data structure
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [16]:
# Read in test data file
test = pd.read_csv('test.csv', delimiter=',')

# Display contents of test set
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [17]:
# Data structure
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3263 entries, 0 to 3262
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        3263 non-null   int64
 1   keyword   3237 non-null   object
 2   location  2158 non-null   object
 3   text      3263 non-null   object
dtypes: int64(1), object(3)
memory usage: 102.1+ KB

## 2. Data exploration

In [30]:
# Both training and test sets are similar in length

train["length"] = train["text"].apply(len)
print("Train text length statistics:")
print(train["length"].describe())
print()

test["length"] = test["text"].apply(len)
print("Test text length statistics:")
print(test["length"].describe())

print()
print("Instances of each class:")
print(train.target.value_counts())

Train text length statistics:
count    7613.000000
mean      101.037436
std        33.781325
min         7.000000
25%        78.000000
50%       107.000000
75%       133.000000
max       157.000000
Name: length, dtype: float64

Test text length statistics:
count    3263.000000
mean      102.108183
std        33.972158
min         5.000000
25%        78.000000
50%       109.000000
75%       134.000000
max       151.000000
Name: length, dtype: float64

Instances of each class:
0    4342
1    3271
Name: target, dtype: int64

In [31]:
batchSize = 32
trainingExamples = train.shape[0]
trainSplit = 0.8
valSplit = 0.2
stepsPerEpoch = int(trainingExamples) * trainSplit // batchSize

epochs = 2
auto = tf.data.experimental.autotune

NameError: name 'tf' is not defined